################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/VSWorkspaceState.json

/aspnet-api/.vs/

/aspnet-api/aspnet-api/bin/

/aspnet-api/aspnet-api/obj/

/.vs/

/aspnet-api/aspnet-api/obj/
/aspnet-api/aspnet-api/obj/Debug/net6.0/aspnet-api.AssemblyInfo.cs
